# Predicted Lithology - Transforming Data

2020.05.24

A first exercise of building an ML model out of Geochemistry to predict lithology

### Frame the problem
To predict lithology out of geochemistry assay data

### Load data using Pandas

In [18]:
import os
import pandas as pd

pd.options.mode.chained_assignment = None  # default='warn'
# source https://stackoverflow.com/questions/20625582/how-to-deal-with-settingwithcopywarning-in-pandas 

SAMPLESPATH = os.path.join('datasets', 'uniw')

In [2]:
# function to load data

def loaddata(path, file):
    filetoretrieve = os.path.join(path, file)
    return pd.read_csv(filetoretrieve)

#### Samples

In [32]:
# load samples and tranform dataset
samplesall = loaddata(SAMPLESPATH, 'uniw_samples.csv')
# samplesall.head()

# select just the relevant fields
samples = samplesall[['SAMPLEID', 'HOLEID', 'SAMPFROM', 'SAMPTO', 'SAMPLETYPE', 'PRIORITY']]

# replace NULL/NaN Priorities with 0, reset indexes and make Priorities integer
samples['PRIORITY'] = samples['PRIORITY'].fillna(0)
samples.reset_index(drop=True)
samples['PRIORITY'] = samples['PRIORITY'].apply(lambda x : int(x))

/Users/rodrigo/Code/virtualenvironment/venv/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3254: DtypeWarning: Columns (0,11) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [37]:
# find all Priorities used
samples['PRIORITY'].unique()

array([ 1,  0,  2, 10,  3,  5])

In [55]:
# transform HoleIDs
samples['HOLEID'] = samples['HOLEID'].apply(lambda x:x.replace('MONT', 'MARX').replace('WINU', 'XKCD')
                                            .replace('WIDI', 'SPIF').replace('RC18WIN', 'MUTL')
                                            .replace('RC17PAW', 'ROBO').replace('WB18WIN', 'GARF'))

In [56]:
samples.head()

   SAMPLEID    HOLEID  SAMPFROM  SAMPTO SAMPLETYPE  PRIORITY
0  10415181  XKCD0010     386.0   387.0  DCore2QSw         1
1  10415182  XKCD0010     387.0   388.0  DCore2QSw         1
2  10415183  XKCD0010     388.0   389.0  DCore2QSw         1
3  10415184  XKCD0010     389.0   390.0  DCore2QSw         1
4  10415185  XKCD0010     390.0   391.0  DCore2QSw         1

In [57]:
# distinct SamplTypes
samples['SAMPLETYPE'].unique()

array(['DCore2QSw', 'DCore1QSw', 'Soil', 'DChip10Pct', 'DNotSampled',
       'DChipWhole', 'DCoreWhole', 'DChipUnk', 'DCore1QSp', 'DCore2QSp',
       'DChip12Pct', 'Water', 'DUnk', 'Composite', 'DChip8Pct', 'pXRF',
       'DCoreUnk', 'DChip1Q', 'DChip6Pct', 'DChipSpear'], dtype=object)

In [110]:
# list all HOLEIDs
samples['HOLEID'].unique()

array(['XKCD0010', 'XKCD0052', 'XKCD_007', 'XKCD0118', 'XKCD0061',
       'XKCD0012', 'XKCD0119', 'XKCD0141', 'XKCD0037', 'SPIF0009',
       'XKCD0075', 'XKCD0054', 'XKCD0313', 'SPIF0010', 'XKCD0193',
       'XKCD0194', 'XKCD0059', 'XKCD0159', 'XKCD0071', 'XKCD0348',
       'XKCD0353', 'XKCD0068', 'SPIF0011', 'XKCD0142', 'XKCD0073',
       'XKCD0079', 'XKCD0343', 'XKCD0342', 'XKCD0341', 'ROBO0001',
       'XKCD0324', 'XKCD0160', 'XKCD0015', 'ROBO0002', 'XKCD0051',
       'SPIF0012', 'XKCD0195', 'XKCD0064', 'XKCD0181', 'GARF0002',
       'SPIF0013', 'XKCD0043', 'XKCD0018', 'XKCD0182', 'XKCD0156',
       'XKCD0471', 'XKCD0157', 'XKCD0328', 'MUTL0001', 'XKCD0473',
       'XKCD0048', 'XKCD0158', 'XKCD0196', 'XKCD0294', 'XKCD0295',
       'XKCD0296', 'MUTL0002', 'XKCD0026', 'XKCD0297', 'XKCD0298',
       'XKCD0009', 'XKCD0299', 'XKCD0300', 'MUTL0003', 'XKCD0161',
       'SPIF0001', 'XKCD0053', 'XKCD0162', 'XKCD0067', 'SPIF0002',
       'XKCD0057', 'XKCD0164', 'SPIF0003', 'XKCD0293', 'XKCD0013',
       'XKCD0129', 'SPIF0004', 'XKCD0074', 'SPIF0005', 'SPIF0006',
       'XKCD0130', 'XKCD0060', 'XKCD0001', 'XKCD0151', 'XKCD0152',
       'XKCD0062', 'XKCD0024', 'XKCD0031', 'XKCD0153', 'XKCD0041',
       'XKCD0049', 'XKCD0055', 'SPIF0007', 'XKCD0032', 'SPIF0008',
       'XKCD0412', 'XKCD0039', 'XKCD0154', 'XKCD0006', 'XKCD0008',
       'SPIF0014', 'XKCD0058', 'XKCD0415', 'XKCD0133', 'SPIF0015',
       'XKCD0019', 'XKCD0134', 'XKCD0414', 'SPIF0016', 'XKCD0063',
       'XKCD0003', 'XKCD0417', 'XKCD0014', 'XKCD0418', 'XKCD0135',
       'XKCD0088', 'XKCD0197', 'XKCD0020', 'XKCD0136', 'XKCD0155',
       'XKCD0413', 'XKCD0137', 'XKCD0095', 'XKCD0072', 'XKCD0096',
       'XKCD0097', 'XKCD0307', 'XKCD0077', 'XKCD0311', 'XKCD0308',
       'XKCD0086', 'XKCD0326', 'XKCD0330', 'XKCD0332', 'XKCD0329',
       'XKCD0334', 'XKCD0333', 'XKCD0410', 'XKCD0421', 'XKCD0127',
       'XKCD0005', 'XKCD0198', 'XKCD0138', 'XKCD0422', 'XKCD0423',
       'XKCD0139', 'XKCD0424', 'XKCD0143', 'XKCD0044', 'XKCD0144',
       'XKCD0550', 'XKCD0571', 'XKCD0572', 'XKCD0425', 'XKCD0573',
       'XKCD0046', 'XKCD0066', 'XKCD0574', 'XKCD0102', 'XKCD0426',
       'XKCD0109', 'XKCD0145', 'XKCD0427', 'XKCD0121', 'XKCD0011',
       'XKCD0056', 'XKCD0146', 'XKCD0428', 'XKCD0122', 'XKCD0430',
       'XKCD0147', 'XKCD0431', 'XKCD0016', 'XKCD0017', 'XKCD0148',
       'XKCD0432', 'XKCD0021', 'XKCD0028', 'XKCD0004', 'XKCD0149',
       'XKCD0124', 'XKCD0433', 'XKCD0140', 'XKCD0125', 'XKCD0035',
       'XKCD0007', 'XKCD0435', 'XKCD0069', 'XKCD0036', 'XKCD0436',
       'XKCD0126', 'XKCD0165', 'XKCD0038', 'XKCD0166', 'XKCD0437',
       'XKCD0128', 'XKCD0438', 'XKCD0167', 'XKCD0439', 'XKCD0131',
       'XKCD0447', 'XKCD0446', 'XKCD0440', 'XKCD0448', 'XKCD0445',
       'XKCD0168', 'XKCD0042', 'XKCD0461', 'XKCD0100', 'XKCD0449',
       'XKCD0101', 'XKCD0170', 'XKCD0103', 'XKCD0104', 'XKCD0171',
       'XKCD0316', 'XKCD0172', 'XKCD0105', 'XKCD0084', 'XKCD0462',
       'XKCD0107', 'XKCD0173', 'XKCD0325', 'XKCD0199', 'XKCD0120',
       'XKCD0463', 'XKCD0174', 'XKCD0093', 'XKCD0464', 'XKCD0110',
       'XKCD0111', 'XKCD0112', 'XKCD0098', 'XKCD0175', 'XKCD0465',
       'XKCD0478', 'XKCD0113', 'XKCD0480', 'XKCD0029', 'XKCD0466',
       'XKCD0475', 'XKCD0114', 'XKCD0176', 'XKCD0116', 'XKCD0304',
       'XKCD0476', 'XKCD0177', 'XKCD0034', 'XKCD0335', 'XKCD0310',
       'XKCD0178', 'XKCD0117', 'XKCD0419', 'XKCD0040', 'XKCD0314',
       'XKCD0179', 'XKCD0420', 'XKCD0358', 'XKCD0441', 'XKCD0331',
       'XKCD0577', 'XKCD0180', 'XKCD0486', 'XKCD0488', 'XKCD0576',
       'XKCD0442', 'XKCD0045', 'XKCD0563', 'XKCD0322', 'XKCD0578',
       'XKCD0443', 'XKCD0517', 'XKCD0579', 'XKCD0580', 'XKCD0444',
       'XKCD0518', 'XKCD0591', 'XKCD0519', 'XKCD0554', 'XKCD0555',
       'XKCD0367', 'XKCD0556', 'XKCD0592', 'XKCD0593', 'XKCD0289',
       'XKCD0594', 'XKCD0569', 'XKCD0557', 'XKCD0288', 'XKCD0336',
       'XKCD0200', 'XKCD0570', 'XKCD0595', 'XKCD0338', 'XKCD0558',
       'XKCD0498', 'XKCD0581', 'XKCD0582', 'XKCD0506', 'XKCD0583',
       'XKCD0584', 'XKCD0596', 'XKCD0507', 'XKCD0345', 'XKCD0597',
       'XKCD0585', 'XKCD0598', 'XKCD0586', 'XKCD0531', 'MARX0003',
       'XKCD0589', 'XKCD0590', 'XKCD0323', 'XKCD0351', 'XKCD0641',
       'XKCD0587', 'XKCD0520', 'XKCD0485', 'XKCD0548', 'XKCD0588',
       'XKCD0467', 'XKCD0468', 'XKCD0315', 'XKCD0469', 'XKCD0521',
       'XKCD0522', 'XKCD0470', 'XKCD0496', 'XKCD0526', 'XKCD0317',
       'XKCD0497', 'XKCD0500', 'XKCD0350', 'XKCD0501', 'XKCD0527',
       'XKCD0528', 'XKCD0511', 'XKCD0532', 'XKCD0327', 'XKCD0533',
       'XKCD0534', 'XKCD0535', 'XKCD0512', 'XKCD0536', 'XKCD0537',
       'XKCD0356', 'XKCD0513', 'XKCD0301', 'XKCD0514', 'XKCD0305',
       'XKCD0357', 'XKCD0515', 'XKCD0474', 'XKCD0354', 'XKCD0359',
       'XKCD0092', 'XKCD0508', 'XKCD0099', 'XKCD0599', 'XKCD0481',
       'XKCD0509', 'XKCD0090', 'XKCD0600', 'XKCD0482', 'XKCD0601',
       'XKCD0602', 'XKCD0483', 'XKCD0484', 'MARX0002', 'XKCD0340',
       'XKCD0346', 'XKCD0551', 'XKCD0352', 'XKCD0603', 'XKCD0552',
       'XKCD0604', 'XKCD0605', 'XKCD0306', 'XKCD0553', 'XKCD0221',
       'XKCD0524', 'XKCD0451', 'XKCD0606', 'XKCD0525', 'XKCD0607',
       'XKCD0608', 'XKCD0312', 'XKCD0452', 'XKCD0454', 'XKCD0455',
       'XKCD0456', 'XKCD0609', 'XKCD0303', 'XKCD0564', 'XKCD0457',
       'XKCD0309', 'XKCD0610', 'XKCD0566', 'XKCD0458', 'XKCD0523',
       'XKCD0459', 'XKCD0460', 'XKCD0529', 'XKCD0491', 'XKCD0621',
       'XKCD0530', 'XKCD0542', 'XKCD0543', 'XKCD0544', 'XKCD0545',
       'XKCD0492', 'XKCD0622', 'XKCD0623', 'XKCD0302', 'XKCD0546',
       'XKCD0493', 'XKCD0549', 'XKCD0494', 'XKCD0625', 'XKCD0627',
       'XKCD0495', 'XKCD0575', 'XKCD0339', 'XKCD0630', 'XKCD0633',
       'XKCD0634', 'XKCD0347', 'XKCD0635', 'XKCD0636', 'XKCD0344',
       'XKCD0639', 'XKCD0637', 'XKCD0638', 'XKCD0510', 'XKCD0362',
       'XKCD0349', 'XKCD0547', 'XKCD0538', 'XKCD0560', 'XKCD0539',
       'XKCD0540', 'XKCD0541', 'XKCD0617', 'XKCD0618', 'XKCD0364',
       'XKCD0619', 'XKCD0620', 'XKCD0366', 'XKCD0611', 'XKCD0567',
       'XKCD0612', 'XKCD0568', 'XKCD0613', 'XKCD0368', 'XKCD0614',
       'XKCD0559', 'XKCD0615', 'XKCD0616', 'XKCD0640', 'XKCD0502',
       'XKCD0642', 'XKCD0503', 'XKCD0504', 'XKCD0505', 'XKCD0516',
       'XKCD0081', 'XKCD0083', 'XKCD0065', 'XKCD0087', 'XKCD0183',
       'SPIF0027', 'SPIF0028', 'XKCD0184', 'XKCD0185', 'XKCD0186',
       'XKCD0187', 'XKCD0222', 'XKCD0223', 'XKCD0561', 'XKCD0224',
       'XKCD0078', 'MARX0001', 'XKCD0085', 'XKCD0082', 'XKCD0091',
       'XKCD0094', 'XKCD0225', 'XKCD0337', 'XKCD0150', 'XKCD0226',
       'XKCD0227', 'XKCD0228', 'GARF0001', 'XKCD0192', 'XKCD0229',
       'XKCD0230', 'XKCD0201', 'XKCD0202', 'XKCD0203', 'XKCD0204',
       'XKCD0205', 'XKCD0206', 'XKCD0207', 'XKCD0208', 'XKCD0209',
       'XKCD0210', 'XKCD0231', 'XKCD0232', 'XKCD0233', 'XKCD0234',
       'XKCD0235', 'XKCD0236', 'XKCD0237', 'XKCD0238', 'XKCD0188',
       'XKCD0189', 'XKCD0190', 'XKCD0211', 'XKCD0212', 'XKCD0213',
       'XKCD0217', 'XKCD0218', 'XKCD0219', 'XKCD0220', 'XKCD0242',
       'XKCD0243', 'XKCD0244', 'XKCD0245', 'XKCD0246', 'XKCD0247',
       'XKCD0248', 'XKCD0249', 'XKCD0250', 'XKCD0281', 'XKCD0282',
       'XKCD0283', 'XKCD0284', 'XKCD0285', 'XKCD0286', 'XKCD0287',
       'XKCD0290', 'XKCD0291', 'XKCD0292', 'XKCD0239', 'XKCD0240',
       'XKCD0271', 'XKCD0272', 'XKCD0273', 'XKCD0274', 'XKCD0275',
       'XKCD0276', 'XKCD0277', 'XKCD0278', 'XKCD0279', 'XKCD0280',
       'XKCD0401', 'XKCD0402', 'XKCD0403', 'XKCD0404', 'XKCD0405',
       'XKCD0406', 'XKCD0407', 'XKCD0408', 'XKCD0409', 'XKCD0251',
       'XKCD0252', 'XKCD0253', 'XKCD0254', 'XKCD0255', 'XKCD0257',
       'XKCD0258', 'XKCD0259', 'XKCD0260', 'XKCD0261', 'XKCD0262',
       'XKCD0263', 'XKCD0264', 'XKCD0265', 'XKCD0268', 'XKCD0270'],
      dtype=object)

In [89]:
samples.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177825 entries, 0 to 177824
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   SAMPLEID    177825 non-null  object
 1   HOLEID      177825 non-null  object
 2   SAMPFROM    177663 non-null  float64
 3   SAMPTO      177663 non-null  float64
 4   SAMPLETYPE  177825 non-null  object
 5   PRIORITY    177825 non-null  int64
dtypes: float64(2), int64(1), object(3)
memory usage: 8.1+ MB

In [123]:
# save transformed CSV
samples.to_csv(os.path.join('datasets', 'spif', 'spif_samples.csv'), sep=',', encoding='utf-8')

#### Lithology

In [111]:
# load Lithology
lithoall = loaddata(SAMPLESPATH, 'uniw_litho.csv')

# select just the relevant fields
lithoall = lithoall[['HOLEID', 'GEOLFROM', 'GEOLTO', 'PRIORITY', 'VALUE']]

# rename FROM, TO, VALUE as LITH
lithoall.columns = ['HOLEID', 'FROM', 'TO', 'PRIORITY', 'LITH']

# transform HOLEIDs
lithoall['HOLEID'] = lithoall['HOLEID'].apply(lambda x:x.replace('MONT', 'MARX').replace('WINU', 'XKCD')
                                            .replace('WIDI', 'SPIF').replace('RC18WIN', 'MUTL')
                                            .replace('RC17PAW', 'ROBO').replace('WB18WIN', 'GARF'))
lithoall.head()

     HOLEID  FROM    TO  PRIORITY       LITH
0  MARX0001   0.0  48.1         1  NotLogged
1  MARX0001   0.0  48.1         3  NotLogged
2  MARX0001  48.1  59.0         1  Sandstone
3  MARX0001  48.1  59.0         3  Sandstone
4  MARX0001  59.0  69.7         1  Claystone

In [115]:
lithoall.info()
# lithoall['PRIORITY'].unique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15153 entries, 0 to 15152
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   HOLEID    15153 non-null  object
 1   FROM      15153 non-null  float64
 2   TO        15153 non-null  float64
 3   PRIORITY  15153 non-null  int64
 4   LITH      15153 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 592.0+ KB

In [78]:
# distinct lithologies
lithoall['LITH'].unique()

array(['NotLogged', 'Sandstone', 'Claystone', 'MetaSandstone',
       'MetaSiltstone', 'Quartzite', 'Psammite', 'Sand', 'Diamictite',
       'Tillite', 'LeachedCap', 'Clay', 'MassiveSulphide', 'Metapelite',
       'Conglomerate', 'Granite', 'Gravel', 'Mudstone', 'Arkose',
       'Gritstone', 'ClasticSediment', 'Breccia', 'Skarn', 'Silcrete',
       'QuartzVein', 'Dolerite', 'Ferricrete', 'MetaGritstone',
       'Saprolite', 'Arenite', 'Schist', 'Hornfels', 'FaultGouge',
       'Gneiss', 'Amphibolite', 'Gossan', 'Silt', 'Basalt',
       'MaficVolcanic', 'MaficIntrusive', 'MetaSediment', 'Dolomite',
       'Siltstone', 'AmphiboleSchist', 'Calcrete', 'Kaolinite',
       'IntermedIntrusive', 'BlackShale', 'CoreLoss', 'BrecciaTectonic',
       'BrecciaHydrothermal', 'BrecciaIntrusive', 'Vein'], dtype=object)

In [114]:
# make boolean dataframe where condition is true (i.e. Priority 1)
lithop1 = lithoall['PRIORITY'] == 1
lithop1

0         True
1        False
2         True
3        False
4         True
         ...
15148     True
15149     True
15150     True
15151     True
15152     True
Name: PRIORITY, Length: 15153, dtype: bool

In [117]:
# new litho dataframe with Priorities 1 only, indexes reset
litho = lithoall[lithop1]
litho = litho.reset_index(drop=True)
litho

         HOLEID   FROM     TO  PRIORITY           LITH
0      MARX0001    0.0   48.1         1      NotLogged
1      MARX0001   48.1   59.0         1      Sandstone
2      MARX0001   59.0   69.7         1      Claystone
3      MARX0001   69.7   80.0         1  MetaSandstone
4      MARX0001   80.0   82.8         1  MetaSandstone
...         ...    ...    ...       ...            ...
10402  XKCD0314  110.1  114.0         1  MetaSandstone
10403  XKCD0314  114.0  120.0         1  MetaSandstone
10404  XKCD0314  120.0  135.0         1  MetaSandstone
10405  XKCD0314  135.0  138.2         1  MetaSandstone
10406  XKCD0314  138.2  150.0         1  MetaSandstone

[10407 rows x 5 columns]

In [122]:
# save transformed CSV
litho.to_csv(os.path.join('datasets', 'spif', 'spif_litho.csv'), sep=',', encoding='utf-8')

#### Assays

In [90]:
# load Assays
assayall = loaddata(SAMPLESPATH, 'UNIW_assays.csv')

# select the relevant fields only
assayall = assayall[['SAMPLEID', 'NAME', 'PRIORITY', 'VALUE', 'DSC']]

assayall.head()

/Users/rodrigo/Code/virtualenvironment/venv/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3254: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

   SAMPLEID           NAME  PRIORITY   VALUE  DSC
0  10412498  Ag_4HSIMS_ppm         1   1.195  NaN
1  10412498  Ag_CNLAAS_ppm         1   0.840  NaN
2  10412498  Al_4HSIMS_pct         1   8.250  NaN
3  10412498  As_4HSIMS_ppm         1   4.070  NaN
4  10412498  As_PULCPX_ppm         1  50.000    <

In [103]:
# return only Priority 1
assay = assayall[assayall['PRIORITY'] == 1]

# disregard some assay types
assay = assay[~assay['NAME'].str.contains('ERROR')]
assay

          SAMPLEID           NAME  PRIORITY    VALUE  DSC
0         10412498  Ag_4HSIMS_ppm         1    1.195  NaN
1         10412498  Ag_CNLAAS_ppm         1    0.840  NaN
2         10412498  Al_4HSIMS_pct         1    8.250  NaN
3         10412498  As_4HSIMS_ppm         1    4.070  NaN
4         10412498  As_PULCPX_ppm         1   50.000    <
...            ...            ...       ...      ...  ...
12708295  10813436   V_4HSIMS_ppm         1   73.000  NaN
12708296  10813436   W_4HSIMS_ppm         1    7.300  NaN
12708297  10813436   Y_4HSIMS_ppm         1   21.600  NaN
12708298  10813436  Zn_4HSIMS_ppm         1   53.000  NaN
12708299  10813436  Zr_4HSIMS_ppm         1  157.500  NaN

[9505282 rows x 5 columns]

In [121]:
assayrelevant.info()
# assay.info()
# assayall.info()

# <class 'pandas.core.frame.DataFrame'>
# RangeIndex: 12708300 entries, 0 to 12708299
# Data columns (total 8 columns):
#  #   Column         Dtype  
# ---  ------         -----  
#  0   SAMPLEID       object 
#  1   NAME           object 
#  2   PRIORITY       int64  
#  3   VALUE          float64
#  4   DSC            object 
#  5   LABJOBNO       object 
#  6   LOADDATE       object 
#  7   ANALYSISORDER  float64
# dtypes: float64(2), int64(1), object(5)
# memory usage: 775.7+ MB

# <class 'pandas.core.frame.DataFrame'>
# RangeIndex: 12708300 entries, 0 to 12708299
# Data columns (total 5 columns):
#  #   Column    Dtype  
# ---  ------    -----  
#  0   SAMPLEID  object 
#  1   NAME      object 
#  2   PRIORITY  int64  
#  3   VALUE     float64
#  4   DSC       object 
# dtypes: float64(1), int64(1), object(3)
# memory usage: 484.8+ MB

# <class 'pandas.core.frame.DataFrame'>
# Int64Index: 9796727 entries, 0 to 12708299
# Data columns (total 5 columns):
#  #   Column    Dtype  
# ---  ------    -----  
#  0   SAMPLEID  object 
#  1   NAME      object 
#  2   PRIORITY  int64  
#  3   VALUE     float64
#  4   DSC       object 
# dtypes: float64(1), int64(1), object(3)
# memory usage: 448.5+ MB

# <class 'pandas.core.frame.DataFrame'>
# Int64Index: 9505282 entries, 0 to 12708299
# Data columns (total 5 columns):
#  #   Column    Dtype  
# ---  ------    -----  
#  0   SAMPLEID  object 
#  1   NAME      object 
#  2   PRIORITY  int64  
#  3   VALUE     float64
#  4   DSC       object 
# dtypes: float64(1), int64(1), object(3)
# memory usage: 435.1+ MB

# <class 'pandas.core.frame.DataFrame'>
# RangeIndex: 7786855 entries, 0 to 7786854
# Data columns (total 6 columns):
#  #   Column    Dtype  
# ---  ------    -----  
#  0   index     int64  
#  1   SAMPLEID  object 
#  2   NAME      object 
#  3   PRIORITY  int64  
#  4   VALUE     float64
#  5   DSC       object 
# dtypes: float64(1), int64(2), object(3)
# memory usage: 356.5+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7786855 entries, 0 to 7786854
Data columns (total 6 columns):
 #   Column    Dtype
---  ------    -----
 0   index     int64
 1   SAMPLEID  object
 2   NAME      object
 3   PRIORITY  int64
 4   VALUE     float64
 5   DSC       object
dtypes: float64(1), int64(2), object(3)
memory usage: 356.5+ MB

In [109]:
# retrieve all assay types
fullassaylist = assay['NAME'].unique().tolist()
fullassaylist

['Ag_4HSIMS_ppm',
 'Ag_CNLAAS_ppm',
 'Al_4HSIMS_pct',
 'As_4HSIMS_ppm',
 'As_PULCPX_ppm',
 'Au_4HSIMS_ppm',
 'Au_CNLAAS_ppm',
 'Au_F30ICP_ppm',
 'Au_F50AAO_ppm',
 'Ba_4HSIMS_ppm',
 'Be_4HSIMS_ppm',
 'Bi_4HSIMS_ppm',
 'Ca_4HSIMS_pct',
 'Ca_PULCPX_pct',
 'Cd_4HSIMS_ppm',
 'Ce_4HSIMS_ppm',
 'Co_4HSIMS_ppm',
 'Cr_4HSIMS_ppm',
 'Cr_PULCPX_ppm',
 'Cs_4HSIMS_ppm',
 'Cu_4HOICP_pct',
 'Cu_4HSIMS_ppm',
 'Cu_PULCPX_ppm',
 'CuAS_SULAAS_pct',
 'CuCN_CNLAAS_pct',
 'CuRes_4HSAAS_pct',
 'CuT_SEQAAS_pct',
 'Fe_4HSIMS_pct',
 'Fe_PULCPX_pct',
 'Ga_4HSIMS_ppm',
 'Ge_4HSIMS_ppm',
 'Hf_4HSIMS_ppm',
 'In_4HSIMS_ppm',
 'K_4HSIMS_pct',
 'La_4HSIMS_ppm',
 'Li_4HSIMS_ppm',
 'Mg_4HSIMS_pct',
 'Mn_4HSIMS_ppm',
 'Mn_PULCPX_ppm',
 'Mo_4HSIMS_ppm',
 'Na_4HSIMS_pct',
 'Nb_4HSIMS_ppm',
 'Ni_4HSIMS_ppm',
 'Ni_PULCPX_ppm',
 'P_4HSIMS_pct',
 'Pb_4HSIMS_ppm',
 'Pb_PULCPX_ppm',
 'Pd_4HSIMS_ppm',
 'Pt_4HSIMS_ppm',
 'Rb_4HSIMS_ppm',
 'Re_4HSIMS_ppm',
 'S_4HSIMS_pct',
 'S_PULCPX_pct',
 'Sb_4HSIMS_ppm',
 'Sc_4HSIMS_ppm',
 'Se_4HSIMS_ppm',
 'Si_PULFPX_pct',
 'Sn_4HSIMS_ppm',
 'Sr_4HSIMS_ppm',
 'Ta_4HSIMS_ppm',
 'Te_4HSIMS_ppm',
 'Th_4HSIMS_ppm',
 'Ti_4HSIMS_pct',
 'Ti_PULFPX_pct',
 'Tl_4HSIMS_ppm',
 'U_4HSIMS_ppm',
 'V_4HSIMS_ppm',
 'W_4HSIMS_ppm',
 'Y_4HSIMS_ppm',
 'Zn_4HSIMS_ppm',
 'Zn_PULCPX_ppm',
 'Zr_4HSIMS_ppm',
 'Zr_PULFPX_ppm',
 'As_PULFPX_ppm',
 'Au_F50ICP_ppm',
 'Ca_PULCPX_ppm',
 'Ca_PULFPX_ppm',
 'Cr_PULFPX_ppm',
 'Cu_PULFPX_ppm',
 'Fe_PULCPX_ppm',
 'Fe_PULFPX_ppm',
 'Mn_PULFPX_ppm',
 'Nb_PULCPX_ppm',
 'Nb_PULFPX_ppm',
 'Ni_PULFPX_ppm',
 'Pb_PULFPX_ppm',
 'S_PULCPX_ppm',
 'S_PULFPX_ppm',
 'Si_PULCPX_pct',
 'Ta_PULCPX_ppm',
 'Ta_PULFPX_ppm',
 'Ti_PULCPX_pct',
 'P_4HSIMS_ppm',
 'Y_PULCPX_ppm',
 'Y_PULFPX_ppm',
 'Zn_PULFPX_ppm',
 'Zr_PULCPX_ppm',
 'PULQC_Pass75um_pct',
 'CRUQC_Pass2mm_pct',
 'Sn_PULCPX_ppm',
 'W_PULCPX_ppm',
 'AuRes_F30AAS_ppm',
 'SG_NONGRV',
 'Au_F50ICP_gms',
 'S_NONLEC_pct',
 'Zr_LMBIMS_ppm',
 'SG_WAXGRV',
 'Ce_LMBIMS_ppm',
 'C_NONLEC_pct',
 'CC_NONLEC_pct',
 'CNC_HCLLEC_pct',
 'Au_F50GRV_ppm',
 'Au_F30AAS_ppm',
 'Zn_4HOICP_pct',
 'SG_PULPYC',
 'CRUQC_Pass6mm_pct',
 'Ag_4HOICP_ppm',
 'Cl_KOFICH_ppm',
 'F_KOFICH_ppm',
 'I_NONGSP_ppm',
 'Br_NONGSP_ppm',
 'Cl_NONGSP_ppm',
 'W_LMDIMS_ppm',
 'Y_LMBIMS_ppm',
 'Cu_4HDIMS_pct',
 'BaO_LMBXRF_pct',
 'LOI_LOIGRV_pct',
 'MnO_LMBXRF_pct',
 'Ag_CILIMS_ppb',
 'As_CILIMS_ppb',
 'Au_CILIMS_ppb',
 'Ba_CILIMS_ppb',
 'Be_CILIMS_ppb',
 'Bi_CILIMS_ppb',
 'Br_CILIMS_ppm',
 'Ca_CILIMS_ppm',
 'Cd_CILIMS_ppb',
 'Ce_CILIMS_ppb',
 'Co_CILIMS_ppb',
 'Cr_CILIMS_ppb',
 'Cs_CILIMS_ppb',
 'Cu_CILIMS_ppb',
 'Dy_CILIMS_ppb',
 'Er_CILIMS_ppb',
 'Eu_CILIMS_ppb',
 'Fe_CILIMS_ppm',
 'Ga_CILIMS_ppb',
 'Gd_CILIMS_ppb',
 'Ge_CILIMS_ppb',
 'Hf_CILIMS_ppb',
 'Hg_CILIMS_ppb',
 'Ho_CILIMS_ppb',
 'I_CILIMS_ppm',
 'In_CILIMS_ppb',
 'La_CILIMS_ppb',
 'Li_CILIMS_ppb',
 'Lu_CILIMS_ppb',
 'Mg_CILIMS_ppm',
 'Mn_CILIMS_ppm',
 'Mo_CILIMS_ppb',
 'Nb_CILIMS_ppb',
 'Nd_CILIMS_ppb',
 'Ni_CILIMS_ppb',
 'Pb_CILIMS_ppb',
 'Pd_CILIMS_ppb',
 'pH_CILIMS',
 'Pr_CILIMS_ppb',
 'Pt_CILIMS_ppb',
 'Rb_CILIMS_ppb',
 'Re_CILIMS_ppb',
 'Sb_CILIMS_ppb',
 'Sc_CILIMS_ppb',
 'Se_CILIMS_ppb',
 'Sm_CILIMS_ppb',
 'Sn_CILIMS_ppb',
 'Sr_CILIMS_ppb',
 'Ta_CILIMS_ppb',
 'Tb_CILIMS_ppb',
 'Te_CILIMS_ppb',
 'Th_CILIMS_ppb',
 'Ti_CILIMS_ppb',
 'Tl_CILIMS_ppb',
 'Tm_CILIMS_ppb',
 'U_CILIMS_ppb',
 'V_CILIMS_ppb',
 'W_CILIMS_ppb',
 'Y_CILIMS_ppb',
 'Yb_CILIMS_ppb',
 'Zn_CILIMS_ppb',
 'Zr_CILIMS_ppb',
 'Ag_4HSICP_ppm',
 'Al2O3_LMBICP_pct',
 'As_AQRIMS_ppm',
 'Au_F50IMS_ppm',
 'Ba_LTBIMS_ppm',
 'BaO_LMBICP_pct',
 'Bi_AQRIMS_ppm',
 'CaO_LMBICP_pct',
 'Cd_4HSICP_ppm',
 'Ce_LTBIMS_ppm',
 'Co_4HSICP_ppm',
 'Cr_LTBIMS_ppm',
 'Cr2O3_LMBICP_pct',
 'Cs_LTBIMS_ppm',
 'Cu_4HSICP_ppm',
 'Dy_LTBIMS_ppm',
 'Er_LTBIMS_ppm',
 'Eu_LTBIMS_ppm',
 'Fe2O3_LMBICP_pct',
 'Ga_LTBIMS_ppm',
 'Gd_LTBIMS_ppm',
 'Ge_LTBIMS_ppm',
 'Hf_LTBIMS_ppm',
 'Hg_AQRIMS_ppm',
 'Ho_LTBIMS_ppm',
 'In_AQRIMS_ppm',
 'K2O_LMBICP_pct',
 'La_LTBIMS_ppm',
 'Li_4HSICP_ppm',
 'Lu_LTBIMS_ppm',
 'MgO_LMBICP_pct',
 'MnO_LMBICP_pct',
 'Mo_4HSICP_ppm',
 'Na2O_LMBICP_pct',
 'Nb_LTBIMS_ppm',
 'Nd_LTBIMS_ppm',
 'Ni_4HSICP_ppm',
 'P2O5_LMBICP_pct',
 'Pb_4HSICP_ppm',
 'Pd_F50IMS_ppm',
 'Pr_LTBIMS_ppm',
 'Pt_F50IMS_ppm',
 'Rb_LTBIMS_ppm',
 'Re_AQRIMS_ppm',
 'Sb_AQRIMS_ppm',
 'Sc_4HSICP_ppm',
 'Se_AQRIMS_ppm',
 'SiO2_LMBICP_pct',
 'Sm_LTBIMS_ppm',
 'Sn_LTBIMS_ppm',
 'Sr_LTBIMS_ppm',
 'SrO_LMBICP_pct',
 'Ta_LTBIMS_ppm',
 'Tb_LTBIMS_ppm',
 'Te_AQRIMS_ppm',
 'Th_LTBIMS_ppm',
 'TiO2_LMBICP_pct',
 'Tl_AQRIMS_ppm',
 'Tm_LTBIMS_ppm',
 'Total_LMBICP_pct',
 'U_LTBIMS_ppm',
 'V_LTBIMS_ppm',
 'W_LTBIMS_ppm',
 'Y_LTBIMS_ppm',
 'Yb_LTBIMS_ppm',
 'Zn_4HSICP_ppm',
 'Zr_LTBIMS_ppm',
 'Ag_RAWFPX_ppm',
 'Al_RAWFPX_ppm',
 'As_RAWFPX_ppm',
 'Bi_RAWFPX_ppm',
 'Ca_RAWFPX_ppm',
 'Cd_RAWFPX_ppm',
 'Co_RAWFPX_ppm',
 'Cr_RAWFPX_ppm',
 'Cu_RAWFPX_ppm',
 'Fe_RAWFPX_ppm',
 'Hg_RAWFPX_ppm',
 'K_RAWFPX_ppm',
 'LE_RAWFPX_ppm',
 'Mg_RAWFPX_ppm',
 'Mn_RAWFPX_ppm',
 'Mo_RAWFPX_ppm',
 'Nb_RAWFPX_ppm',
 'Ni_RAWFPX_ppm',
 'P_RAWFPX_ppm',
 'Pb_RAWFPX_ppm',
 'Rb_RAWFPX_ppm',
 'S_RAWFPX_ppm',
 'Sb_RAWFPX_ppm',
 'Se_RAWFPX_ppm',
 'Si_RAWFPX_ppm',
 'Sn_RAWFPX_ppm',
 'Sr_RAWFPX_ppm',
 'Th_RAWFPX_ppm',
 'Ti_RAWFPX_ppm',
 'U_RAWFPX_ppm',
 'V_RAWFPX_ppm',
 'W_RAWFPX_ppm',
 'Y_RAWFPX_ppm',
 'Zn_RAWFPX_ppm',
 'Zr_RAWFPX_ppm',
 'K_SPFICP_pct']

In [118]:
# list methods to select them
distinctmethods = {i.split('_')[1] for i in fullassaylist}
distinctmethods

{'4HDIMS',
 '4HOICP',
 '4HSAAS',
 '4HSICP',
 '4HSIMS',
 'AQRIMS',
 'CILIMS',
 'CNLAAS',
 'F30AAS',
 'F30ICP',
 'F50AAO',
 'F50GRV',
 'F50ICP',
 'F50IMS',
 'HCLLEC',
 'KOFICH',
 'LMBICP',
 'LMBIMS',
 'LMBXRF',
 'LMDIMS',
 'LOIGRV',
 'LTBIMS',
 'NONGRV',
 'NONGSP',
 'NONLEC',
 'PULCPX',
 'PULFPX',
 'PULPYC',
 'Pass2mm',
 'Pass6mm',
 'Pass75um',
 'RAWFPX',
 'SEQAAS',
 'SPFICP',
 'SULAAS',
 'WAXGRV'}

In [120]:
# filter only for methods 4H% or F30% or F50%
assayrelevant = assay.loc[(assay['NAME'].str.contains('4H')) | (assay['NAME'].str.contains('F30')) | (assay['NAME'].str.contains('F50'))]
assayrelevant = assayrelevant.reset_index()
assayrelevant

            index  SAMPLEID           NAME  PRIORITY    VALUE  DSC
0               0  10412498  Ag_4HSIMS_ppm         1    1.195  NaN
1               2  10412498  Al_4HSIMS_pct         1    8.250  NaN
2               3  10412498  As_4HSIMS_ppm         1    4.070  NaN
3               5  10412498  Au_4HSIMS_ppm         1    0.971  NaN
4               7  10412498  Au_F30ICP_ppm         1    0.587  NaN
...           ...       ...            ...       ...      ...  ...
7786850  12708295  10813436   V_4HSIMS_ppm         1   73.000  NaN
7786851  12708296  10813436   W_4HSIMS_ppm         1    7.300  NaN
7786852  12708297  10813436   Y_4HSIMS_ppm         1   21.600  NaN
7786853  12708298  10813436  Zn_4HSIMS_ppm         1   53.000  NaN
7786854  12708299  10813436  Zr_4HSIMS_ppm         1  157.500  NaN

[7786855 rows x 6 columns]

In [124]:
# save transformed CSV
assayrelevant.to_csv(os.path.join('datasets', 'spif', 'spif_assay.csv'), sep=',', encoding='utf-8')

### Create one big flat table