# Predicted Lithology

2020.05.30

A first exercise of building an ML model out of Geochemistry to predict lithology

### Frame the problem
To predict lithology out of geochemistry assay data

### Performance Measure
Root Mean Square Error (RMSE)
![](images/IMG_3146.jpg)

### Load data using Pandas

In [1]:
import os
import pandas as pd

pd.options.mode.chained_assignment = None  # default='warn'
# source https://stackoverflow.com/questions/20625582/how-to-deal-with-settingwithcopywarning-in-pandas 

SAMPLESPATH = os.path.join('datasets', 'spif')

In [2]:
# function to load data

def loaddata(path, file):
    filetoretrieve = os.path.join(path, file)
    return pd.read_csv(filetoretrieve)

#### Samples

In [4]:
# load samples and tranform dataset
samplesall = loaddata(SAMPLESPATH, 'spif_samples.csv')
# samplesall.head()
# samplesall

# select just the relevant fields
samples = samplesall[['SAMPLEID', 'HOLEID', 'SAMPFROM', 'SAMPTO', 'SAMPLETYPE', 'PRIORITY']]
samples.columns = ['SAMPLEID', 'HOLEID', 'FROM', 'TO', 'SAMPLETYPE', 'PRIORITY']
samples

/Users/rodrigo/Code/virtualenvironment/venv/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3254: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

        SAMPLEID    HOLEID   FROM     TO  SAMPLETYPE  PRIORITY
0       10415181  XKCD0010  386.0  387.0   DCore2QSw         1
1       10415182  XKCD0010  387.0  388.0   DCore2QSw         1
2       10415183  XKCD0010  388.0  389.0   DCore2QSw         1
3       10415184  XKCD0010  389.0  390.0   DCore2QSw         1
4       10415185  XKCD0010  390.0  391.0   DCore2QSw         1
...          ...       ...    ...    ...         ...       ...
177820  10663365  XKCD0471  119.0  120.0  DChip12Pct         1
177821  10663366  XKCD0471  120.0  121.0  DChip12Pct         1
177822  10663367  XKCD0471  121.0  122.0  DChip12Pct         1
177823  10663368  XKCD0471  122.0  123.0  DChip12Pct         1
177824  10663369  XKCD0471  123.0  124.0  DChip12Pct         1

[177825 rows x 6 columns]

In [6]:
# find all Priorities used
samples['PRIORITY'].unique()

array([ 1,  0,  2, 10,  3,  5])

In [7]:
samples.head()

   SAMPLEID    HOLEID   FROM     TO SAMPLETYPE  PRIORITY
0  10415181  XKCD0010  386.0  387.0  DCore2QSw         1
1  10415182  XKCD0010  387.0  388.0  DCore2QSw         1
2  10415183  XKCD0010  388.0  389.0  DCore2QSw         1
3  10415184  XKCD0010  389.0  390.0  DCore2QSw         1
4  10415185  XKCD0010  390.0  391.0  DCore2QSw         1

In [8]:
# distinct SamplTypes
samples['SAMPLETYPE'].unique()

array(['DCore2QSw', 'DCore1QSw', 'Soil', 'DChip10Pct', 'DNotSampled',
       'DChipWhole', 'DCoreWhole', 'DChipUnk', 'DCore1QSp', 'DCore2QSp',
       'DChip12Pct', 'Water', 'DUnk', 'Composite', 'DChip8Pct', 'pXRF',
       'DCoreUnk', 'DChip1Q', 'DChip6Pct', 'DChipSpear'], dtype=object)

In [9]:
# list all HOLEIDs
samples['HOLEID'].unique()

array(['XKCD0010', 'XKCD0052', 'XKCD_007', 'XKCD0118', 'XKCD0061',
       'XKCD0012', 'XKCD0119', 'XKCD0141', 'XKCD0037', 'SPIF0009',
       'XKCD0075', 'XKCD0054', 'XKCD0313', 'SPIF0010', 'XKCD0193',
       'XKCD0194', 'XKCD0059', 'XKCD0159', 'XKCD0071', 'XKCD0348',
       'XKCD0353', 'XKCD0068', 'SPIF0011', 'XKCD0142', 'XKCD0073',
       'XKCD0079', 'XKCD0343', 'XKCD0342', 'XKCD0341', 'ROBO0001',
       'XKCD0324', 'XKCD0160', 'XKCD0015', 'ROBO0002', 'XKCD0051',
       'SPIF0012', 'XKCD0195', 'XKCD0064', 'XKCD0181', 'GARF0002',
       'SPIF0013', 'XKCD0043', 'XKCD0018', 'XKCD0182', 'XKCD0156',
       'XKCD0471', 'XKCD0157', 'XKCD0328', 'MUTL0001', 'XKCD0473',
       'XKCD0048', 'XKCD0158', 'XKCD0196', 'XKCD0294', 'XKCD0295',
       'XKCD0296', 'MUTL0002', 'XKCD0026', 'XKCD0297', 'XKCD0298',
       'XKCD0009', 'XKCD0299', 'XKCD0300', 'MUTL0003', 'XKCD0161',
       'SPIF0001', 'XKCD0053', 'XKCD0162', 'XKCD0067', 'SPIF0002',
       'XKCD0057', 'XKCD0164', 'SPIF0003', 'XKCD0293', 'XKCD0013',
       'XKCD0129', 'SPIF0004', 'XKCD0074', 'SPIF0005', 'SPIF0006',
       'XKCD0130', 'XKCD0060', 'XKCD0001', 'XKCD0151', 'XKCD0152',
       'XKCD0062', 'XKCD0024', 'XKCD0031', 'XKCD0153', 'XKCD0041',
       'XKCD0049', 'XKCD0055', 'SPIF0007', 'XKCD0032', 'SPIF0008',
       'XKCD0412', 'XKCD0039', 'XKCD0154', 'XKCD0006', 'XKCD0008',
       'SPIF0014', 'XKCD0058', 'XKCD0415', 'XKCD0133', 'SPIF0015',
       'XKCD0019', 'XKCD0134', 'XKCD0414', 'SPIF0016', 'XKCD0063',
       'XKCD0003', 'XKCD0417', 'XKCD0014', 'XKCD0418', 'XKCD0135',
       'XKCD0088', 'XKCD0197', 'XKCD0020', 'XKCD0136', 'XKCD0155',
       'XKCD0413', 'XKCD0137', 'XKCD0095', 'XKCD0072', 'XKCD0096',
       'XKCD0097', 'XKCD0307', 'XKCD0077', 'XKCD0311', 'XKCD0308',
       'XKCD0086', 'XKCD0326', 'XKCD0330', 'XKCD0332', 'XKCD0329',
       'XKCD0334', 'XKCD0333', 'XKCD0410', 'XKCD0421', 'XKCD0127',
       'XKCD0005', 'XKCD0198', 'XKCD0138', 'XKCD0422', 'XKCD0423',
       'XKCD0139', 'XKCD0424', 'XKCD0143', 'XKCD0044', 'XKCD0144',
       'XKCD0550', 'XKCD0571', 'XKCD0572', 'XKCD0425', 'XKCD0573',
       'XKCD0046', 'XKCD0066', 'XKCD0574', 'XKCD0102', 'XKCD0426',
       'XKCD0109', 'XKCD0145', 'XKCD0427', 'XKCD0121', 'XKCD0011',
       'XKCD0056', 'XKCD0146', 'XKCD0428', 'XKCD0122', 'XKCD0430',
       'XKCD0147', 'XKCD0431', 'XKCD0016', 'XKCD0017', 'XKCD0148',
       'XKCD0432', 'XKCD0021', 'XKCD0028', 'XKCD0004', 'XKCD0149',
       'XKCD0124', 'XKCD0433', 'XKCD0140', 'XKCD0125', 'XKCD0035',
       'XKCD0007', 'XKCD0435', 'XKCD0069', 'XKCD0036', 'XKCD0436',
       'XKCD0126', 'XKCD0165', 'XKCD0038', 'XKCD0166', 'XKCD0437',
       'XKCD0128', 'XKCD0438', 'XKCD0167', 'XKCD0439', 'XKCD0131',
       'XKCD0447', 'XKCD0446', 'XKCD0440', 'XKCD0448', 'XKCD0445',
       'XKCD0168', 'XKCD0042', 'XKCD0461', 'XKCD0100', 'XKCD0449',
       'XKCD0101', 'XKCD0170', 'XKCD0103', 'XKCD0104', 'XKCD0171',
       'XKCD0316', 'XKCD0172', 'XKCD0105', 'XKCD0084', 'XKCD0462',
       'XKCD0107', 'XKCD0173', 'XKCD0325', 'XKCD0199', 'XKCD0120',
       'XKCD0463', 'XKCD0174', 'XKCD0093', 'XKCD0464', 'XKCD0110',
       'XKCD0111', 'XKCD0112', 'XKCD0098', 'XKCD0175', 'XKCD0465',
       'XKCD0478', 'XKCD0113', 'XKCD0480', 'XKCD0029', 'XKCD0466',
       'XKCD0475', 'XKCD0114', 'XKCD0176', 'XKCD0116', 'XKCD0304',
       'XKCD0476', 'XKCD0177', 'XKCD0034', 'XKCD0335', 'XKCD0310',
       'XKCD0178', 'XKCD0117', 'XKCD0419', 'XKCD0040', 'XKCD0314',
       'XKCD0179', 'XKCD0420', 'XKCD0358', 'XKCD0441', 'XKCD0331',
       'XKCD0577', 'XKCD0180', 'XKCD0486', 'XKCD0488', 'XKCD0576',
       'XKCD0442', 'XKCD0045', 'XKCD0563', 'XKCD0322', 'XKCD0578',
       'XKCD0443', 'XKCD0517', 'XKCD0579', 'XKCD0580', 'XKCD0444',
       'XKCD0518', 'XKCD0591', 'XKCD0519', 'XKCD0554', 'XKCD0555',
       'XKCD0367', 'XKCD0556', 'XKCD0592', 'XKCD0593', 'XKCD0289',
       'XKCD0594', 'XKCD0569', 'XKCD0557', 'XKCD0288', 'XKCD0336',
       'XKCD0200', 'XKCD0570', 'XKCD0595', 'XKCD0338', 'XKCD0558',
       'XKCD0498', 'XKCD0581', 'XKCD0582', 'XKCD0506', 'XKCD0583',
       'XKCD0584', 'XKCD0596', 'XKCD0507', 'XKCD0345', 'XKCD0597',
       'XKCD0585', 'XKCD0598', 'XKCD0586', 'XKCD0531', 'MARX0003',
       'XKCD0589', 'XKCD0590', 'XKCD0323', 'XKCD0351', 'XKCD0641',
       'XKCD0587', 'XKCD0520', 'XKCD0485', 'XKCD0548', 'XKCD0588',
       'XKCD0467', 'XKCD0468', 'XKCD0315', 'XKCD0469', 'XKCD0521',
       'XKCD0522', 'XKCD0470', 'XKCD0496', 'XKCD0526', 'XKCD0317',
       'XKCD0497', 'XKCD0500', 'XKCD0350', 'XKCD0501', 'XKCD0527',
       'XKCD0528', 'XKCD0511', 'XKCD0532', 'XKCD0327', 'XKCD0533',
       'XKCD0534', 'XKCD0535', 'XKCD0512', 'XKCD0536', 'XKCD0537',
       'XKCD0356', 'XKCD0513', 'XKCD0301', 'XKCD0514', 'XKCD0305',
       'XKCD0357', 'XKCD0515', 'XKCD0474', 'XKCD0354', 'XKCD0359',
       'XKCD0092', 'XKCD0508', 'XKCD0099', 'XKCD0599', 'XKCD0481',
       'XKCD0509', 'XKCD0090', 'XKCD0600', 'XKCD0482', 'XKCD0601',
       'XKCD0602', 'XKCD0483', 'XKCD0484', 'MARX0002', 'XKCD0340',
       'XKCD0346', 'XKCD0551', 'XKCD0352', 'XKCD0603', 'XKCD0552',
       'XKCD0604', 'XKCD0605', 'XKCD0306', 'XKCD0553', 'XKCD0221',
       'XKCD0524', 'XKCD0451', 'XKCD0606', 'XKCD0525', 'XKCD0607',
       'XKCD0608', 'XKCD0312', 'XKCD0452', 'XKCD0454', 'XKCD0455',
       'XKCD0456', 'XKCD0609', 'XKCD0303', 'XKCD0564', 'XKCD0457',
       'XKCD0309', 'XKCD0610', 'XKCD0566', 'XKCD0458', 'XKCD0523',
       'XKCD0459', 'XKCD0460', 'XKCD0529', 'XKCD0491', 'XKCD0621',
       'XKCD0530', 'XKCD0542', 'XKCD0543', 'XKCD0544', 'XKCD0545',
       'XKCD0492', 'XKCD0622', 'XKCD0623', 'XKCD0302', 'XKCD0546',
       'XKCD0493', 'XKCD0549', 'XKCD0494', 'XKCD0625', 'XKCD0627',
       'XKCD0495', 'XKCD0575', 'XKCD0339', 'XKCD0630', 'XKCD0633',
       'XKCD0634', 'XKCD0347', 'XKCD0635', 'XKCD0636', 'XKCD0344',
       'XKCD0639', 'XKCD0637', 'XKCD0638', 'XKCD0510', 'XKCD0362',
       'XKCD0349', 'XKCD0547', 'XKCD0538', 'XKCD0560', 'XKCD0539',
       'XKCD0540', 'XKCD0541', 'XKCD0617', 'XKCD0618', 'XKCD0364',
       'XKCD0619', 'XKCD0620', 'XKCD0366', 'XKCD0611', 'XKCD0567',
       'XKCD0612', 'XKCD0568', 'XKCD0613', 'XKCD0368', 'XKCD0614',
       'XKCD0559', 'XKCD0615', 'XKCD0616', 'XKCD0640', 'XKCD0502',
       'XKCD0642', 'XKCD0503', 'XKCD0504', 'XKCD0505', 'XKCD0516',
       'XKCD0081', 'XKCD0083', 'XKCD0065', 'XKCD0087', 'XKCD0183',
       'SPIF0027', 'SPIF0028', 'XKCD0184', 'XKCD0185', 'XKCD0186',
       'XKCD0187', 'XKCD0222', 'XKCD0223', 'XKCD0561', 'XKCD0224',
       'XKCD0078', 'MARX0001', 'XKCD0085', 'XKCD0082', 'XKCD0091',
       'XKCD0094', 'XKCD0225', 'XKCD0337', 'XKCD0150', 'XKCD0226',
       'XKCD0227', 'XKCD0228', 'GARF0001', 'XKCD0192', 'XKCD0229',
       'XKCD0230', 'XKCD0201', 'XKCD0202', 'XKCD0203', 'XKCD0204',
       'XKCD0205', 'XKCD0206', 'XKCD0207', 'XKCD0208', 'XKCD0209',
       'XKCD0210', 'XKCD0231', 'XKCD0232', 'XKCD0233', 'XKCD0234',
       'XKCD0235', 'XKCD0236', 'XKCD0237', 'XKCD0238', 'XKCD0188',
       'XKCD0189', 'XKCD0190', 'XKCD0211', 'XKCD0212', 'XKCD0213',
       'XKCD0217', 'XKCD0218', 'XKCD0219', 'XKCD0220', 'XKCD0242',
       'XKCD0243', 'XKCD0244', 'XKCD0245', 'XKCD0246', 'XKCD0247',
       'XKCD0248', 'XKCD0249', 'XKCD0250', 'XKCD0281', 'XKCD0282',
       'XKCD0283', 'XKCD0284', 'XKCD0285', 'XKCD0286', 'XKCD0287',
       'XKCD0290', 'XKCD0291', 'XKCD0292', 'XKCD0239', 'XKCD0240',
       'XKCD0271', 'XKCD0272', 'XKCD0273', 'XKCD0274', 'XKCD0275',
       'XKCD0276', 'XKCD0277', 'XKCD0278', 'XKCD0279', 'XKCD0280',
       'XKCD0401', 'XKCD0402', 'XKCD0403', 'XKCD0404', 'XKCD0405',
       'XKCD0406', 'XKCD0407', 'XKCD0408', 'XKCD0409', 'XKCD0251',
       'XKCD0252', 'XKCD0253', 'XKCD0254', 'XKCD0255', 'XKCD0257',
       'XKCD0258', 'XKCD0259', 'XKCD0260', 'XKCD0261', 'XKCD0262',
       'XKCD0263', 'XKCD0264', 'XKCD0265', 'XKCD0268', 'XKCD0270'],
      dtype=object)

In [10]:
samples.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177825 entries, 0 to 177824
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   SAMPLEID    177825 non-null  object
 1   HOLEID      177825 non-null  object
 2   FROM        177663 non-null  float64
 3   TO          177663 non-null  float64
 4   SAMPLETYPE  177825 non-null  object
 5   PRIORITY    177825 non-null  int64
dtypes: float64(2), int64(1), object(3)
memory usage: 8.1+ MB

#### Lithology

In [18]:
# load Lithology
litho = loaddata(SAMPLESPATH, 'spif_litho.csv')

# select just the relevant fields
litho = litho[['HOLEID', 'FROM', 'TO', 'PRIORITY', 'LITH']]

litho.head()

     HOLEID  FROM    TO  PRIORITY           LITH
0  MARX0001   0.0  48.1         1      NotLogged
1  MARX0001  48.1  59.0         1      Sandstone
2  MARX0001  59.0  69.7         1      Claystone
3  MARX0001  69.7  80.0         1  MetaSandstone
4  MARX0001  80.0  82.8         1  MetaSandstone

In [19]:
litho.info()
# litho['PRIORITY'].unique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10407 entries, 0 to 10406
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   HOLEID    10407 non-null  object
 1   FROM      10407 non-null  float64
 2   TO        10407 non-null  float64
 3   PRIORITY  10407 non-null  int64
 4   LITH      10407 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 406.6+ KB

In [20]:
# distinct lithologies
litho['LITH'].unique()

array(['NotLogged', 'Sandstone', 'Claystone', 'MetaSandstone',
       'MetaSiltstone', 'Sand', 'Diamictite', 'LeachedCap',
       'MassiveSulphide', 'Clay', 'Granite', 'Gritstone',
       'ClasticSediment', 'Breccia', 'Skarn', 'Silcrete', 'QuartzVein',
       'Ferricrete', 'MetaGritstone', 'Schist', 'FaultGouge', 'Dolerite',
       'Gneiss', 'Amphibolite', 'Mudstone', 'Hornfels', 'Basalt',
       'Gravel', 'Conglomerate', 'Quartzite', 'MaficVolcanic', 'Silt',
       'MaficIntrusive', 'MetaSediment', 'Metapelite', 'Siltstone',
       'AmphiboleSchist', 'Calcrete', 'Kaolinite', 'IntermedIntrusive',
       'BlackShale', 'CoreLoss', 'BrecciaTectonic', 'BrecciaHydrothermal',
       'BrecciaIntrusive', 'Vein'], dtype=object)

#### Assays

In [23]:
# load Assays
assay = loaddata(SAMPLESPATH, 'spif_assay.csv')

# select the relevant fields only
assay = assay[['SAMPLEID', 'NAME', 'PRIORITY', 'VALUE', 'DSC']]

assay.head()

/Users/rodrigo/Code/virtualenvironment/venv/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3254: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

   SAMPLEID           NAME  PRIORITY  VALUE  DSC
0  10412498  Ag_4HSIMS_ppm         1  1.195  NaN
1  10412498  Al_4HSIMS_pct         1  8.250  NaN
2  10412498  As_4HSIMS_ppm         1  4.070  NaN
3  10412498  Au_4HSIMS_ppm         1  0.971  NaN
4  10412498  Au_F30ICP_ppm         1  0.587  NaN

In [24]:
# assayrelevant.info()
assay.info()
# assayall.info()

# <class 'pandas.core.frame.DataFrame'>
# RangeIndex: 12708300 entries, 0 to 12708299
# Data columns (total 8 columns):
#  #   Column         Dtype  
# ---  ------         -----  
#  0   SAMPLEID       object 
#  1   NAME           object 
#  2   PRIORITY       int64  
#  3   VALUE          float64
#  4   DSC            object 
#  5   LABJOBNO       object 
#  6   LOADDATE       object 
#  7   ANALYSISORDER  float64
# dtypes: float64(2), int64(1), object(5)
# memory usage: 775.7+ MB

# <class 'pandas.core.frame.DataFrame'>
# RangeIndex: 12708300 entries, 0 to 12708299
# Data columns (total 5 columns):
#  #   Column    Dtype  
# ---  ------    -----  
#  0   SAMPLEID  object 
#  1   NAME      object 
#  2   PRIORITY  int64  
#  3   VALUE     float64
#  4   DSC       object 
# dtypes: float64(1), int64(1), object(3)
# memory usage: 484.8+ MB

# <class 'pandas.core.frame.DataFrame'>
# Int64Index: 9796727 entries, 0 to 12708299
# Data columns (total 5 columns):
#  #   Column    Dtype  
# ---  ------    -----  
#  0   SAMPLEID  object 
#  1   NAME      object 
#  2   PRIORITY  int64  
#  3   VALUE     float64
#  4   DSC       object 
# dtypes: float64(1), int64(1), object(3)
# memory usage: 448.5+ MB

# <class 'pandas.core.frame.DataFrame'>
# Int64Index: 9505282 entries, 0 to 12708299
# Data columns (total 5 columns):
#  #   Column    Dtype  
# ---  ------    -----  
#  0   SAMPLEID  object 
#  1   NAME      object 
#  2   PRIORITY  int64  
#  3   VALUE     float64
#  4   DSC       object 
# dtypes: float64(1), int64(1), object(3)
# memory usage: 435.1+ MB

# <class 'pandas.core.frame.DataFrame'>
# RangeIndex: 7786855 entries, 0 to 7786854
# Data columns (total 6 columns):
#  #   Column    Dtype  
# ---  ------    -----  
#  0   index     int64  
#  1   SAMPLEID  object 
#  2   NAME      object 
#  3   PRIORITY  int64  
#  4   VALUE     float64
#  5   DSC       object 
# dtypes: float64(1), int64(2), object(3)
# memory usage: 356.5+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7786855 entries, 0 to 7786854
Data columns (total 5 columns):
 #   Column    Dtype
---  ------    -----
 0   SAMPLEID  object
 1   NAME      object
 2   PRIORITY  int64
 3   VALUE     float64
 4   DSC       object
dtypes: float64(1), int64(1), object(3)
memory usage: 297.0+ MB

In [25]:
# retrieve all assay types
fullassaylist = assay['NAME'].unique().tolist()
fullassaylist

['Ag_4HSIMS_ppm',
 'Al_4HSIMS_pct',
 'As_4HSIMS_ppm',
 'Au_4HSIMS_ppm',
 'Au_F30ICP_ppm',
 'Au_F50AAO_ppm',
 'Ba_4HSIMS_ppm',
 'Be_4HSIMS_ppm',
 'Bi_4HSIMS_ppm',
 'Ca_4HSIMS_pct',
 'Cd_4HSIMS_ppm',
 'Ce_4HSIMS_ppm',
 'Co_4HSIMS_ppm',
 'Cr_4HSIMS_ppm',
 'Cs_4HSIMS_ppm',
 'Cu_4HOICP_pct',
 'Cu_4HSIMS_ppm',
 'CuRes_4HSAAS_pct',
 'Fe_4HSIMS_pct',
 'Ga_4HSIMS_ppm',
 'Ge_4HSIMS_ppm',
 'Hf_4HSIMS_ppm',
 'In_4HSIMS_ppm',
 'K_4HSIMS_pct',
 'La_4HSIMS_ppm',
 'Li_4HSIMS_ppm',
 'Mg_4HSIMS_pct',
 'Mn_4HSIMS_ppm',
 'Mo_4HSIMS_ppm',
 'Na_4HSIMS_pct',
 'Nb_4HSIMS_ppm',
 'Ni_4HSIMS_ppm',
 'P_4HSIMS_pct',
 'Pb_4HSIMS_ppm',
 'Pd_4HSIMS_ppm',
 'Pt_4HSIMS_ppm',
 'Rb_4HSIMS_ppm',
 'Re_4HSIMS_ppm',
 'S_4HSIMS_pct',
 'Sb_4HSIMS_ppm',
 'Sc_4HSIMS_ppm',
 'Se_4HSIMS_ppm',
 'Sn_4HSIMS_ppm',
 'Sr_4HSIMS_ppm',
 'Ta_4HSIMS_ppm',
 'Te_4HSIMS_ppm',
 'Th_4HSIMS_ppm',
 'Ti_4HSIMS_pct',
 'Tl_4HSIMS_ppm',
 'U_4HSIMS_ppm',
 'V_4HSIMS_ppm',
 'W_4HSIMS_ppm',
 'Y_4HSIMS_ppm',
 'Zn_4HSIMS_ppm',
 'Zr_4HSIMS_ppm',
 'Au_F50ICP_ppm',
 'P_4HSIMS_ppm',
 'AuRes_F30AAS_ppm',
 'Au_F50ICP_gms',
 'Au_F50GRV_ppm',
 'Au_F30AAS_ppm',
 'Zn_4HOICP_pct',
 'Ag_4HOICP_ppm',
 'Cu_4HDIMS_pct',
 'Ag_4HSICP_ppm',
 'Au_F50IMS_ppm',
 'Cd_4HSICP_ppm',
 'Co_4HSICP_ppm',
 'Cu_4HSICP_ppm',
 'Li_4HSICP_ppm',
 'Mo_4HSICP_ppm',
 'Ni_4HSICP_ppm',
 'Pb_4HSICP_ppm',
 'Pd_F50IMS_ppm',
 'Pt_F50IMS_ppm',
 'Sc_4HSICP_ppm',
 'Zn_4HSICP_ppm']

In [26]:
# list methods to select them
distinctmethods = {i.split('_')[1] for i in fullassaylist}
distinctmethods

{'4HDIMS',
 '4HOICP',
 '4HSAAS',
 '4HSICP',
 '4HSIMS',
 'F30AAS',
 'F30ICP',
 'F50AAO',
 'F50GRV',
 'F50ICP',
 'F50IMS'}

### Create one big flat table

#### 1. pivot assays

In [33]:
# test with subset
subassay = assay[0:1000]
subassay = subassay[['SAMPLEID', 'NAME', 'VALUE']]
subassay

     SAMPLEID           NAME   VALUE
0    10412498  Ag_4HSIMS_ppm   1.195
1    10412498  Al_4HSIMS_pct   8.250
2    10412498  As_4HSIMS_ppm   4.070
3    10412498  Au_4HSIMS_ppm   0.971
4    10412498  Au_F30ICP_ppm   0.587
..        ...            ...     ...
995  10458607  Cd_4HSIMS_ppm   0.119
996  10458607  Ce_4HSIMS_ppm  88.000
997  10458607  Co_4HSIMS_ppm  13.050
998  10458607  Cr_4HSIMS_ppm  43.900
999  10458607  Cs_4HSIMS_ppm   6.750

[1000 rows x 3 columns]

In [40]:
pivotsub = pd.pivot_table(subassay, index=['SAMPLEID'], values='VALUE', columns='NAME')
pivotsub

NAME,Ag_4HSIMS_ppm,Al_4HSIMS_pct,As_4HSIMS_ppm,Au_4HSIMS_ppm,Au_F30ICP_ppm,Au_F50AAO_ppm,Au_F50ICP_ppm,Ba_4HSIMS_ppm,Be_4HSIMS_ppm,Bi_4HSIMS_ppm,...,Te_4HSIMS_ppm,Th_4HSIMS_ppm,Ti_4HSIMS_pct,Tl_4HSIMS_ppm,U_4HSIMS_ppm,V_4HSIMS_ppm,W_4HSIMS_ppm,Y_4HSIMS_ppm,Zn_4HSIMS_ppm,Zr_4HSIMS_ppm
SAMPLEID,,,,,,,,,,,,,,,,,,,,,
10412498,1.195,8.25,4.07,0.9710,0.587,0.67,NaN,680.0,3.89,40.200,...,0.500,23.50,0.453,2.300,4.00,90.2,54.10,23.5,83.5,166.0
10412499,1.225,8.88,1.98,0.0789,0.087,0.09,NaN,1380.0,4.57,11.400,...,0.260,23.20,0.405,2.830,2.73,99.4,19.20,21.2,102.0,150.0
10412501,0.456,8.45,1.38,0.0470,0.045,0.04,NaN,1100.0,3.31,4.800,...,0.100,22.70,0.464,2.850,3.98,93.3,24.60,22.8,157.0,170.0
10412502,0.271,7.62,1.24,0.1540,0.150,0.15,NaN,810.0,3.40,11.150,...,0.200,20.00,0.414,2.390,4.23,81.8,32.10,25.5,90.7,148.5
10412503,0.123,8.80,0.80,0.1030,0.104,0.10,NaN,1000.0,3.74,6.710,...,0.110,20.50,0.424,2.640,6.52,92.1,22.00,22.8,88.1,165.5
10412504,0.217,7.78,0.95,0.0074,NaN,0.01,NaN,1170.0,2.20,1.050,...,0.060,20.30,0.418,2.680,4.83,85.5,9.08,24.9,71.6,163.5
10412505,0.621,6.49,0.86,0.0142,NaN,0.01,NaN,1060.0,2.59,2.110,...,0.050,18.55,0.396,1.865,3.74,69.8,43.30,20.0,70.8,185.5
10412506,0.655,6.91,1.36,0.0230,NaN,0.02,NaN,800.0,2.94,4.260,...,0.090,19.35,0.388,2.050,3.48,81.8,23.50,22.0,126.0,153.5
10412507,0.374,8.04,0.71,0.0167,NaN,0.01,NaN,930.0,3.25,2.150,...,0.060,21.70,0.462,2.340,4.01,92.9,19.35,22.4,102.0,173.5
10412508,1.760,6.34,1.09,0.0835,0.081,0.08,NaN,880.0,2.87,41.400,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10458605,0.047,6.70,3.64,0.0019,NaN,NaN,0.002,470.0,2.40,0.326,...,0.020,13.80,0.319,0.651,2.34,70.8,3.16,22.0,74.7,110.5
10458606,0.101,6.90,4.42,0.0023,NaN,NaN,0.002,428.0,2.35,0.324,...,0.018,15.90,0.358,0.668,3.77,66.2,3.34,24.3,99.5,149.5
10458607,0.193,6.40,15.70,0.0034,NaN,NaN,0.003,374.0,2.19,0.312,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10469641,0.730,2.42,0.90,NaN,NaN,NaN,0.318,90.0,0.46,97.600,...,6.070,7.01,0.139,0.150,1.80,22.0,79.70,7.3,8.0,83.6
10469643,2.360,2.53,10.50,NaN,NaN,NaN,1.305,60.0,0.96,231.000,...,12.650,9.26,0.128,0.170,4.60,43.0,325.00,14.7,76.0,82.1
10469645,5.220,2.29,11.60,NaN,NaN,NaN,0.668,80.0,1.12,113.000,...,7.610,12.95,0.197,0.200,3.90,54.0,277.00,NaN,NaN,NaN
10482439,0.560,8.74,1.80,NaN,NaN,NaN,0.009,810.0,2.99,2.820,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10500763,0.106,5.98,18.35,0.0436,NaN,NaN,0.061,2230.0,3.38,0.264,...,0.016,11.65,0.288,0.651,3.75,61.1,16.05,84.3,106.0,148.0
10500764,0.107,5.48,9.07,0.0106,NaN,NaN,0.019,480.0,5.10,5.930,...,0.050,13.50,0.278,1.975,4.59,61.6,18.50,40.6,230.0,130.5
10500765,0.106,7.52,3.54,0.0051,NaN,NaN,0.005,840.0,5.72,0.671,...,0.005,20.60,0.431,3.420,5.32,74.8,14.50,37.4,186.5,163.5
10500766,0.146,7.21,4.36,0.0140,NaN,NaN,0.008,540.0,6.84,1.200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
# now the real deal
assayredux = assay[['SAMPLEID', 'NAME', 'VALUE']]
assayredux

         SAMPLEID           NAME    VALUE
0        10412498  Ag_4HSIMS_ppm    1.195
1        10412498  Al_4HSIMS_pct    8.250
2        10412498  As_4HSIMS_ppm    4.070
3        10412498  Au_4HSIMS_ppm    0.971
4        10412498  Au_F30ICP_ppm    0.587
...           ...            ...      ...
7786850  10813436   V_4HSIMS_ppm   73.000
7786851  10813436   W_4HSIMS_ppm    7.300
7786852  10813436   Y_4HSIMS_ppm   21.600
7786853  10813436  Zn_4HSIMS_ppm   53.000
7786854  10813436  Zr_4HSIMS_ppm  157.500

[7786855 rows x 3 columns]

In [43]:
assaypivot = pd.pivot_table(assay, index=['SAMPLEID'], values='VALUE', columns='NAME')
assaypivot

NAME,Ag_4HOICP_ppm,Ag_4HSICP_ppm,Ag_4HSIMS_ppm,Al_4HSIMS_pct,As_4HSIMS_ppm,AuRes_F30AAS_ppm,Au_4HSIMS_ppm,Au_F30AAS_ppm,Au_F30ICP_ppm,Au_F50AAO_ppm,...,Ti_4HSIMS_pct,Tl_4HSIMS_ppm,U_4HSIMS_ppm,V_4HSIMS_ppm,W_4HSIMS_ppm,Y_4HSIMS_ppm,Zn_4HOICP_pct,Zn_4HSICP_ppm,Zn_4HSIMS_ppm,Zr_4HSIMS_ppm
SAMPLEID,,,,,,,,,,,,,,,,,,,,,
10305908,NaN,NaN,0.015,1.48,2.25,NaN,0.0008,NaN,NaN,0.01,...,0.230,0.041,0.48,29.8,0.641,2.26,NaN,NaN,4.7,48.9
10305909,NaN,NaN,0.020,1.38,2.22,NaN,0.0004,NaN,NaN,0.01,...,0.200,0.038,0.40,28.7,0.549,1.87,NaN,NaN,4.4,43.0
10305911,NaN,NaN,0.018,1.49,2.06,NaN,0.0005,NaN,NaN,0.01,...,0.222,0.041,0.42,29.7,0.538,1.91,NaN,NaN,5.1,45.7
10305912,NaN,NaN,0.014,1.65,2.21,NaN,0.0004,NaN,NaN,0.01,...,0.237,0.045,0.50,30.8,0.673,2.19,NaN,NaN,3.8,60.5
10305913,NaN,NaN,0.017,1.79,2.20,NaN,0.0004,NaN,NaN,0.01,...,0.263,0.046,0.51,32.4,0.661,2.58,NaN,NaN,3.7,60.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10531676,NaN,NaN,0.310,9.07,0.09,NaN,0.4590,NaN,NaN,NaN,...,0.476,1.440,4.45,106.0,6.050,28.30,NaN,NaN,32.0,153.0
10531677,NaN,NaN,0.461,7.76,0.87,NaN,0.6090,NaN,NaN,NaN,...,0.413,1.435,4.05,85.2,4.800,28.30,NaN,NaN,40.6,160.0
10531680,NaN,NaN,0.228,6.71,0.04,NaN,0.1870,NaN,NaN,NaN,...,0.400,1.135,3.68,73.3,5.460,25.10,NaN,NaN,23.6,165.5
10531682,NaN,NaN,0.052,8.87,0.16,NaN,0.0075,NaN,NaN,NaN,...,0.444,1.305,4.39,106.0,7.150,25.10,NaN,NaN,27.4,129.0
10531683,NaN,NaN,0.033,8.23,0.02,NaN,0.0168,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
# save assay pivot table
assaypivot.to_csv(os.path.join('datasets', 'spif', 'spif_assayflat.csv'), sep=',', encoding='utf-8')

#### 2. merge samples and litho

In [61]:
samples

        SAMPLEID    HOLEID   FROM     TO  SAMPLETYPE  PRIORITY
0       10415181  XKCD0010  386.0  387.0   DCore2QSw         1
1       10415182  XKCD0010  387.0  388.0   DCore2QSw         1
2       10415183  XKCD0010  388.0  389.0   DCore2QSw         1
3       10415184  XKCD0010  389.0  390.0   DCore2QSw         1
4       10415185  XKCD0010  390.0  391.0   DCore2QSw         1
...          ...       ...    ...    ...         ...       ...
177820  10663365  XKCD0471  119.0  120.0  DChip12Pct         1
177821  10663366  XKCD0471  120.0  121.0  DChip12Pct         1
177822  10663367  XKCD0471  121.0  122.0  DChip12Pct         1
177823  10663368  XKCD0471  122.0  123.0  DChip12Pct         1
177824  10663369  XKCD0471  123.0  124.0  DChip12Pct         1

[177825 rows x 6 columns]

In [46]:
litho

         HOLEID   FROM     TO  PRIORITY           LITH
0      MARX0001    0.0   48.1         1      NotLogged
1      MARX0001   48.1   59.0         1      Sandstone
2      MARX0001   59.0   69.7         1      Claystone
3      MARX0001   69.7   80.0         1  MetaSandstone
4      MARX0001   80.0   82.8         1  MetaSandstone
...         ...    ...    ...       ...            ...
10402  XKCD0314  110.1  114.0         1  MetaSandstone
10403  XKCD0314  114.0  120.0         1  MetaSandstone
10404  XKCD0314  120.0  135.0         1  MetaSandstone
10405  XKCD0314  135.0  138.2         1  MetaSandstone
10406  XKCD0314  138.2  150.0         1  MetaSandstone

[10407 rows x 5 columns]

##### 2.1 first with a subsample

In [50]:
# test, take a subset of samples
subsamples = samples[0:1000]
subsamples
# subsamples['HOLEID'].unique()

     SAMPLEID    HOLEID   FROM     TO SAMPLETYPE  PRIORITY
0    10415181  XKCD0010  386.0  387.0  DCore2QSw         1
1    10415182  XKCD0010  387.0  388.0  DCore2QSw         1
2    10415183  XKCD0010  388.0  389.0  DCore2QSw         1
3    10415184  XKCD0010  389.0  390.0  DCore2QSw         1
4    10415185  XKCD0010  390.0  391.0  DCore2QSw         1
..        ...       ...    ...    ...        ...       ...
995  10504337  XKCD0075  509.0  510.2  DCore2QSw         1
996  10504340  XKCD0075  510.2  511.0  DCore1QSw         1
997  10504342  XKCD0075  511.0  512.0  DCore2QSw         1
998  10504343  XKCD0075  512.0  513.0  DCore2QSw         1
999  10504344  XKCD0075  513.0  514.0  DCore2QSw         1

[1000 rows x 6 columns]

In [57]:
# step 1 : merge everything from litho
mergesubsamplelithofull = pd.merge(subsamples, litho,  how='left', left_on=['HOLEID'], right_on = ['HOLEID'])
mergesubsamplelithofull

,SAMPLEID,HOLEID,FROM_x,TO_x,SAMPLETYPE,PRIORITY_x,FROM_y,TO_y,PRIORITY_y,LITH
0,10415181,XKCD0010,386.0,387.0,DCore2QSw,1,35.80,50.99,1.0,Diamictite
1,10415181,XKCD0010,386.0,387.0,DCore2QSw,1,50.99,123.90,1.0,LeachedCap
2,10415181,XKCD0010,386.0,387.0,DCore2QSw,1,123.90,124.47,1.0,MetaSandstone
3,10415181,XKCD0010,386.0,387.0,DCore2QSw,1,124.47,125.00,1.0,QuartzVein
4,10415181,XKCD0010,386.0,387.0,DCore2QSw,1,125.00,129.16,1.0,MetaSandstone
...,...,...,...,...,...,...,...,...,...,...
38758,10504344,XKCD0075,513.0,514.0,DCore2QSw,1,486.33,504.30,1.0,MetaSandstone
38759,10504344,XKCD0075,513.0,514.0,DCore2QSw,1,504.30,512.90,1.0,MetaSandstone
38760,10504344,XKCD0075,513.0,514.0,DCore2QSw,1,512.90,521.30,1.0,MetaSandstone
38761,10504344,XKCD0075,513.0,514.0,DCore2QSw,1,521.30,534.00,1.0,MetaSiltstone
38762,10504344,XKCD0075,513.0,514.0,DCore2QSw,1,534.00,540.60,1.0,MetaSiltstone

In [58]:
# step 2 : filter for where Sample interval is related to Litho interval
subsamplelitho = mergesubsamplelithofull[(mergesubsamplelithofull['FROM_x'] <= mergesubsamplelithofull['TO_y'])
                                   & (mergesubsamplelithofull['TO_x'] >= mergesubsamplelithofull['FROM_y'])]
subsamplelitho

,SAMPLEID,HOLEID,FROM_x,TO_x,SAMPLETYPE,PRIORITY_x,FROM_y,TO_y,PRIORITY_y,LITH
60,10415181,XKCD0010,386.0,387.0,DCore2QSw,1,384.98,404.35,1.0,MetaSandstone
130,10415182,XKCD0010,387.0,388.0,DCore2QSw,1,384.98,404.35,1.0,MetaSandstone
200,10415183,XKCD0010,388.0,389.0,DCore2QSw,1,384.98,404.35,1.0,MetaSandstone
270,10415184,XKCD0010,389.0,390.0,DCore2QSw,1,384.98,404.35,1.0,MetaSandstone
340,10415185,XKCD0010,390.0,391.0,DCore2QSw,1,384.98,404.35,1.0,MetaSandstone
...,...,...,...,...,...,...,...,...,...,...
38522,10504340,XKCD0075,510.2,511.0,DCore1QSw,1,504.30,512.90,1.0,MetaSandstone
38601,10504342,XKCD0075,511.0,512.0,DCore2QSw,1,504.30,512.90,1.0,MetaSandstone
38680,10504343,XKCD0075,512.0,513.0,DCore2QSw,1,504.30,512.90,1.0,MetaSandstone
38681,10504343,XKCD0075,512.0,513.0,DCore2QSw,1,512.90,521.30,1.0,MetaSandstone
38760,10504344,XKCD0075,513.0,514.0,DCore2QSw,1,512.90,521.30,1.0,MetaSandstone

In [56]:
subsamplelitho['LITH'].unique()

array(['MetaSandstone', 'Breccia', 'MetaSiltstone', 'QuartzVein',
       'Diamictite', 'Sand', 'Gravel', 'Conglomerate', 'Sandstone',
       'LeachedCap', 'Mudstone', 'Clay'], dtype=object)

##### 2.2 now the real deal

See [A Visual Explanation of SQL Joins](https://blog.codinghorror.com/a-visual-explanation-of-sql-joins/)

In [69]:
# step 1 : merge everything from litho
mergesamplelithofull = pd.merge(samples, litho,  how='left', left_on=['HOLEID'], right_on = ['HOLEID'])
# 5106130
# mergesamplelithofull = pd.merge(samples, litho,  how='inner', left_on=['HOLEID'], right_on = ['HOLEID'])
# # 5103591
# mergesamplelithofull = pd.merge(samples, litho,  how='outer', left_on=['HOLEID'], right_on = ['HOLEID'])
# # 5106162
# mergesamplelithofull = pd.merge(samples, litho, left_on=['HOLEID'], right_on = ['HOLEID'])
# # 5103591
mergesamplelithofull

,SAMPLEID,HOLEID,FROM_x,TO_x,SAMPLETYPE,PRIORITY_x,FROM_y,TO_y,PRIORITY_y,LITH
0,10415181,XKCD0010,386.0,387.0,DCore2QSw,1,35.80,50.99,1.0,Diamictite
1,10415181,XKCD0010,386.0,387.0,DCore2QSw,1,50.99,123.90,1.0,LeachedCap
2,10415181,XKCD0010,386.0,387.0,DCore2QSw,1,123.90,124.47,1.0,MetaSandstone
3,10415181,XKCD0010,386.0,387.0,DCore2QSw,1,124.47,125.00,1.0,QuartzVein
4,10415181,XKCD0010,386.0,387.0,DCore2QSw,1,125.00,129.16,1.0,MetaSandstone
...,...,...,...,...,...,...,...,...,...,...
5106125,10663369,XKCD0471,123.0,124.0,DChip12Pct,1,30.00,38.00,1.0,Sandstone
5106126,10663369,XKCD0471,123.0,124.0,DChip12Pct,1,38.00,59.00,1.0,Sandstone
5106127,10663369,XKCD0471,123.0,124.0,DChip12Pct,1,59.00,80.00,1.0,MetaSandstone
5106128,10663369,XKCD0471,123.0,124.0,DChip12Pct,1,80.00,119.00,1.0,MetaSandstone
5106129,10663369,XKCD0471,123.0,124.0,DChip12Pct,1,119.00,200.00,1.0,MetaSediment

In [70]:
# step 2 : filter for where Sample interval is related to Litho interval
samplelitho = mergesamplelithofull[(mergesamplelithofull['FROM_x'] <= mergesamplelithofull['TO_y'])
                                   & (mergesamplelithofull['TO_x'] >= mergesamplelithofull['FROM_y'])]
samplelitho

,SAMPLEID,HOLEID,FROM_x,TO_x,SAMPLETYPE,PRIORITY_x,FROM_y,TO_y,PRIORITY_y,LITH
60,10415181,XKCD0010,386.0,387.0,DCore2QSw,1,384.98,404.35,1.0,MetaSandstone
130,10415182,XKCD0010,387.0,388.0,DCore2QSw,1,384.98,404.35,1.0,MetaSandstone
200,10415183,XKCD0010,388.0,389.0,DCore2QSw,1,384.98,404.35,1.0,MetaSandstone
270,10415184,XKCD0010,389.0,390.0,DCore2QSw,1,384.98,404.35,1.0,MetaSandstone
340,10415185,XKCD0010,390.0,391.0,DCore2QSw,1,384.98,404.35,1.0,MetaSandstone
...,...,...,...,...,...,...,...,...,...,...
5106101,10663365,XKCD0471,119.0,120.0,DChip12Pct,1,119.00,200.00,1.0,MetaSediment
5106108,10663366,XKCD0471,120.0,121.0,DChip12Pct,1,119.00,200.00,1.0,MetaSediment
5106115,10663367,XKCD0471,121.0,122.0,DChip12Pct,1,119.00,200.00,1.0,MetaSediment
5106122,10663368,XKCD0471,122.0,123.0,DChip12Pct,1,119.00,200.00,1.0,MetaSediment
5106129,10663369,XKCD0471,123.0,124.0,DChip12Pct,1,119.00,200.00,1.0,MetaSediment

In [71]:
samplelitho['LITH'].unique()

array(['MetaSandstone', 'Breccia', 'MetaSiltstone', 'QuartzVein',
       'Diamictite', 'Sand', 'Gravel', 'Conglomerate', 'Sandstone',
       'LeachedCap', 'Mudstone', 'Clay', 'MetaSediment', 'Claystone',
       'Ferricrete', 'MaficIntrusive', 'NotLogged', 'Dolerite',
       'FaultGouge', 'Silt', 'Silcrete', 'Schist', 'Skarn', 'Gneiss',
       'Amphibolite', 'Quartzite', 'MassiveSulphide', 'MaficVolcanic',
       'Granite', 'Basalt', 'Siltstone', 'Kaolinite', 'Metapelite',
       'Gritstone', 'AmphiboleSchist', 'IntermedIntrusive', 'Hornfels',
       'Calcrete', 'CoreLoss', 'MetaGritstone', 'BrecciaTectonic',
       'ClasticSediment', 'BrecciaHydrothermal', 'Vein',
       'BrecciaIntrusive', 'BlackShale'], dtype=object)

In [72]:
# clean up dataframe a bit before saving it to csv